<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="dbConnect" providerName="Microsoft.EntityFrameWorkCore.SqlClient" 
         connectionString="Data Source=.\sqlexpress;Initial Catalog=games;Integrated Security=True;"/>
  </connectionStrings>
</configuration>